
:root  > * {
  --md-primary-fg-color:        #000000;
  --md-primary-fg-color--light: #000000;
  --md-primary-fg-color--dark:  #000000;
}

.md-header__title > .md-header__ellipsis > .md-header__topic > .md-ellipsis {
    font-family: Montserrat Thin;
    font-size: 18;
    font-weight: 400;
}

.md-nav__link--active > span {
    font-weight: bold;
}